/* table, th, td {
  border:1px solid black;
} */

/* table.status tr{
  clear:both;
}
table.status td{
  float:left;
  width:100px;
  border:1px solid #DDD;
}
table.status td:first-child{
  
  background:blue;
  color:#fff;
} */

tbody tr.hide{
  opacity:0;
  transform: translateX(100%);
}

tbody tr.hide td,
tbody tr.hide td b,
tbody tr.hide button,
tbody tr.hide button a,
tbody tr.hide form,
tbody tr.hide form button{
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}
