<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href = "{{url_for('static', filename='css/form.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>

<form class = 'form' action='' method = "POST">
    
    <h1 style="text-align:center">Add Game</h1>

    <table>
        <tr>
            <td><p>ID</p></td>
            <td><input type = "integer" name = "id"></td>
        </tr>

        <tr>
            <td><p>Name</p></td>
            <td><input type = "text" name = "name"></td>
        </tr>

        <tr>
            <td><p>Year Published</p></td>
            <td><input type = "integer" name = "year_published"></td>
        </tr>

        <tr>
            <td><p>Min. Players</p></td>
            <td><input type = "integer" name = "min_players"></td>
        </tr>

        <tr>
            <td><p>Max. Players</p></td>
            <td><input type = "integer" name = "max_players"></td>
        </tr>

        <tr>
            <td><p>Min. Age</p></td>
            <td><input type = "integer" name = "min_age"></td>
        </tr>

        <tr>
            <td><p>Play Time</p></td>
            <td><input type = "integer" name = "play_time"></td>
        </tr>

        <tr>
            <td><p>Owned Users</p></td>
            <td><input type = "integer" name = "owned_users"></td>
        </tr>

        <tr>
            <td><p>Rating Average</p></td>
            <td><input type = "number" name = "rating_average"></td>
        </tr>

        <tr>
            <td><p>Complexity</p></td>
            <td><input type = "number" name = "complexity"></td>
        </tr>

        <tr>
            <td><p>Domains</p></td>
            <td><input type = "text" name = "domains"></td>
        </tr>

        <tr>
            <td><p>Mechanics</p></td>
            <td><input type = "text" name = "mechanics"></td>
        </tr>

    </table>

    <p>
        <button type="submit">Submit</button>
        <button href="{{url_for('catalog')}}">Back</button>
    </p>
  </form>